input{
    border: none;
     outline: none;
     border-bottom: 1px solid white;
     background: transparent;
     color: white;
    
   }
   
   input ::placeholder{
     color: white!important;
   }